In [1]:
import pandas as pd

标准：
1）genetics are white 
2）

In [4]:
white = pd.read_csv("white.tsv", sep="\s+")[["FID"]].rename(columns={"FID": "eid"})
white

            eid
0       1000017
1       1000038
2       1000056
3       1000061
4       1000074
...         ...
409544  6024086
409545  6024098
409546  6024103
409547  6024110
409548  6024122

[409549 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(white, test_size=0.5, random_state=0)
train, test = train.reset_index(drop=True), test.reset_index(drop=True)
train.to_csv("white_train.csv", index=False)
test.to_csv("white_test.csv", index=False)

##  划分男女

In [8]:
train = pd.read_csv("white_train.csv")

In [11]:
covs = pd.read_csv("/home/xutingfeng/ukb/ukbData/phenotypes/regenie.cov", sep="\s+")
covs["eid"] = covs["FID"]
covs

,FID,IID,genotype_array,inferred_sex,age_visit,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,assessment_center,age_squared,eid
0,1000017,1000017,1,1.0,56.0,-11.3690,3.56718,-1.975530,0.213937,-12.43420,-1.698380,-0.090687,-3.498190,4.762600,3.153210,1,3136.0,1000017
1,1000025,1000025,2,1.0,62.0,-12.1620,2.77470,0.175048,2.554930,8.75958,-0.044124,-1.497300,0.052680,0.276735,2.118800,2,3844.0,1000025
2,1000038,1000038,1,1.0,60.0,-12.8698,6.41566,-5.106100,-1.296310,-6.34291,-2.935870,1.690630,-1.932100,3.712410,-0.063338,3,3600.0,1000038
3,1000042,1000042,2,1.0,60.0,72.9437,-109.21600,74.692200,17.863400,-1.44577,-0.571180,-2.228180,1.646810,1.608430,5.003350,3,3600.0,1000042
4,1000056,1000056,2,0.0,65.0,-10.7174,5.77507,0.620341,0.505251,-2.49160,1.052860,0.290698,1.672830,-1.928450,-0.712658,4,4225.0,1000056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502404,6024086,6024086,2,0.0,66.0,-11.1845,4.08367,-0.006942,-0.325017,-5.32889,2.483810,-1.063800,-3.733520,3.016760,-0.309265,8,4356.0,6024086
502405,6024098,6024098,2,1.0,68.0,-13.3426,2.56658,-0.076882,6.048100,11.09400,1.417840,2.647870,1.042270,-2.291610,-1.093340,9,4624.0,6024098
502406,6024103,6024103,2,1.0,61.0,-12.2113,4.22902,-2.629170,4.489250,-2.29320,0.573617,1.350590,-1.911610,1.115080,0.535197,20,3721.0,6024103
502407,6024110,6024110,2,1.0,66.0,-10.5527,6.84118,-2.149580,-0.825010,-2.83187,-1.727010,1.742680,0.109792,-0.305446,-0.589371,11,4356.0,6024110
502408,6024122,6024122,2,0.0,66.0,-11.4469,2.66226,-5.098050,0.441097,-4.72467,-1.861650,0.624629,-3.139570,1.171670,-0.072533,2,4356.0,6024122

In [12]:
train["eid"] = train["eid"].astype(str)
covs["eid"] = covs["eid"].astype(str)

In [17]:
female = covs.query("inferred_sex == 0 and eid in @train.eid")[
    ["FID", "IID"]
].reset_index(drop=True)
male = covs.query("inferred_sex == 1 and eid in @train.eid")[
    ["FID", "IID"]
].reset_index(drop=True)
# female
print(female.shape, male.shape)

(110957, 2) (93817, 2)

In [19]:
male.to_csv("white_train_male.tsv", sep="\t", index=False, header=False, na_rep="NA")
female.to_csv(
    "white_train_female.tsv", sep="\t", index=False, header=False, na_rep="NA"
)